html{
	font-family: "Helvetica", serif;
	font-size: 14px;
	background: green;
	color: white;
}
p {
  color: yellow;
}
p,li{
	font-size: 4rem;
}
h1 {
	font-size: 7rem;
}
h2{
	font-size: 6rem;

}
#bit112-nav li{
	float: left;
	width: 300px;
	background: purple;
	text-align: center;
	border: black 1px solid;
}
a:link{
	color: red;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: gray;
	text-decoration: none;
}
a:active{
	color:a.background;
	background: a.color;
	text-decoration: none;
}

header, main {
	padding: 2.5rem;
}

header{
	background-color: black;
	color: white;
	border-bottom: white 2px solid;
}

header h1 {
	line-height: 2px;
	text-align: right;
	padding: 10px;
}

main {
	max-width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}	

footer{
	color: yellow;
	background: black;
	padding: 0px 40px;
	text-align: right;
}